<!DOCTYPE html>
<html>
<head>
  <title>Tom's Bun App</title>
</head>
<body>
  <h1>Tom's First Bun App!</h1>
  <p>That was a lot easier than it would have been 3-5 years ago. I guess that's not surprising. Fly.io and Neon rock.</p>
  <!-- <h1 style="color: red"><%= message %></h1> -->
  <a href="/new-user">Add a new user</a>
  <br/>
  <a href="/users">See all users</a>
  <br/>
  <a href="/new-post">Create a new post</a>
  <br/>
  <a href="https://github.com/tombetthauser/bun-hello-world">github repo</a>
  <br/>
  <a href="https://fly.io/apps/bun-hello-world">fly io project</a>
  <br/>
  <a href="https://console.neon.tech/app/projects/orange-glitter-14419640/branches/br-cool-tooth-a5ka4e1n/tables?database=neondb">neon sql db</a>
  <br/>
</body>
</html>
