<!DOCTYPE html>
<html>
<head>
  <title>Tom's Bun App</title>
</head>
<body>
  <!-- <h1 style="color: red"><%= message %></h1> -->
  <a href="/new-user">Add a new user</a>
  <a href="/users">See all users</a>
  <a href="/new-post">Create a new post</a>
</body>
</html>
